{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Recipes</h1>
<div class="row">
{% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static recipe.dish_image %}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{% url 'recipe_detail' recipe.pk %}"
                   class="btn btn-primary">
                    View recipe!
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
